header {
    background-image: url("./BackgroundPattern263Colour2.png");
    color: rgb(5, 4, 4);
    border-bottom: 20px solid #0a0505;
    padding: 25px;
    text-align: center;
    font-size: 30px;
}